{% extends "base.html" %}
{% block content %}

<h2 class="fw-bold text-danger mb-4">Superadmin Dashboard</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a href="/manage_users" class="btn btn-outline-primary w-100">Manage Admins & Teachers</a>
    </li>

    <li class="list-group-item">
        <a href="/manage_grades" class="btn btn-outline-success w-100">Manage Grade Levels</a>
    </li>

    <li class="list-group-item">
        <a href="/approve_teachers" class="btn btn-outline-warning w-100">Approve Teacher Accounts</a>
    </li>
</ul>

{% endblock %}
